@charset "UTF-8";

/*================================================================
共通
================================================================*/  html, body {
  font-size: 14px;
  font-family: sans-serif;
  /*font-family: source-han-sans-japanese, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;*/
  color: #000;
  margin: 0;
}

/*表示・非表示*/
@media screen and (max-width: 767px) {
  .d-xs-none {
    display: none !important;
  }
  .d-xs-block {
    display: block !important;
  }
}
@media all and (min-width: 769px) {
  .d-xs-block {
    display: none !important;
  }
  .d-xs-none {
    display: block !important;
  }
}

/*余白*/
.range10 {
  display: block;
  width: 100%;
  height: 10px;
}
.range20 {
  display: block;
  width: 100%;
  height: 20px;
}
.range30 {
  display: block;
  width: 100%;
  height: 30px;
}
.range40 {
  display: block;
  width: 100%;
  height: 40px;
}
.range50 {
  display: block;
  width: 100%;
  height: 50px;
}
.range60 {
  display: block;
  width: 100%;
  height: 60px;
}
.range70 {
  display: block;
  width: 100%;
  height: 70px;
}
.range80 {
  display: block;
  width: 100%;
  height: 80px;
}
.range90 {
  display: block;
  width: 100%;
  height: 90px;
}
.range100 {
  display: block;
  width: 100%;
  height: 100px;
}

/* container TOP */
@media all and (min-width: 769px) {
#top .container {
    max-width: 840px;
    /*max-width: 960px;*/
    margin: 0 auto;
  }
}
@media all and (min-width: 769px) {
#top .container--large {
    max-width: 1180px;
  }
}

/* container その他 */
.container {
  padding: 0;
}
@media screen and (max-width: 991px) {
.container {
    padding: 0 15px;
  }
}
@media all and (min-width: 769px) {
.container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media all and (min-width: 769px) {
.container--large {
    max-width: 1180px;
  }
}


section {
  display: block;
  position: relative;
}

/*メニュータイトル*/
@media screen and (max-width: 991px) {}
#menu h2.title {
  font-size: 1.5rem;
  letter-spacing: 0;
  margin: 0 0 65px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #menu h2.title {
    margin: 0 0 40px;
  }
}

/*================================================================
ヘッダー
================================================================*/
header {
  position: static;
  height: 270px;
  line-height: calc(270px - 0px);
}
@media screen and (max-width: 767px) {
  header {
    position: static;
    height: 80px;
    line-height: calc(0px - -20px);
  }
  header .container {
    padding: 0 65px;
  }
}
header .title {
  font-size: 1.875rem;
}
@media screen and (max-width: 767px) {
  header .title {
    text-align: center;
  }
}
header ul.header-nav-item {
  display: -webkit-flex;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 767px) {
  header ul.header-nav-item {
    justify-content: space-between;
  }
}
header nav ul {
  list-style: none;
}
.header-nav-item li:first-child {
  margin-right: auto;
}
.header-nav-item a {
  color: #000;
  display: block;
  padding: 15px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .header-nav-item a {
    padding: 0;
  }
}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
/*================================================================
フッター
================================================================*/
footer {}
footer .footer-copy-wrap {
  background-color: #000;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 130px 0 0 0;
}
@media screen and (max-width: 767px) {
  footer .footer-copy-wrap {
    margin: 80px 0 0 0;
  }
}